<ion-menu contentId="main-content">
  <ion-header>

    <ion-toolbar>
      <div style="display: flex; justify-content: space-around; align-items: center;">
        {{user}}
        <div>
          <ion-avatar style="font-size: small;">
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </div>
      </div>
    </ion-toolbar>

  </ion-header>
  <ion-content class="ion-padding">
    <ion-button color="light" expand="block" routerLink="/home">Home</ion-button>
    <ion-button color="light" expand="block" routerLink="/profile">Profile</ion-button>
    <ion-button color="light" expand="block" routerLink="/group">My Groups</ion-button>
    <ion-button expand="block" (click)="logout()">Logout</ion-button>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
<ion-header>
  <ion-toolbar>
    <ion-title>Group Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="group">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{group.groupName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let member of group.members">
          {{member.name}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div style="display: flex; justify-content: center; text-align: center; margin-top: 50px;">
    <ion-button shape="round" (click)="handleNewEventsButton()">Add a New Event</ion-button>
  </div>
  <div *ngIf="addNewEvent">
    <form [formGroup]="eventForm">
      <ion-item>
        <ion-label position="floating">Event Name</ion-label>
        <ion-input formControlName="eventName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Amount</ion-label>
        <ion-input formControlName="amount"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Paid By</ion-label>
        <ion-input type="email" formControlName="paidBy" placeholder="Enter member's email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime formControlName="date" display-format="MMM DD, YYYY" picker-format="MMM DD YYYY"></ion-datetime>
      </ion-item>
      <!-- <ion-item>
        <ion-label>How would you like to split money?</ion-label>
        <ion-radio-group formControlName="splitType">
          <ion-item>
            <ion-label>Split Equally</ion-label>
            <ion-radio value="equal"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Pay each </ion-label>
            <ion-radio value="equal"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item> -->
      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block" (click)="addEvent()" [disabled]="!eventForm.valid">Create
            Event</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="medium" expand="block" (click)="onCancel()">Cancel</ion-button>
        </ion-col>
      </ion-row>
    </form>

  </div>

  <div>
    Events:
    <ul style="list-style: none;">
      <li *ngFor="let event of events">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{ event.eventName }}
            </ion-card-title>
            <ion-card-subtitle>
              {{event.amount}} | {{event.date}}
            </ion-card-subtitle>
            <ion-card-content>
              <ion-list *ngFor="let member of group.members" style="list-style: none;">
                <ion-item *ngIf="member.email !== event.paidBy">
                  <div >
                    {{member.email}} | {{event.splitMoney}}
                  </div>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </li>
    </ul>
  </div>
</ion-content>
</div>