<ion-menu contentId="main-content">
  <ion-header>

    <ion-toolbar>
      <div style="display: flex; justify-content: space-around; align-items: center;">
        {{user}}
        <div>
          <ion-avatar style="font-size: small;">
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </div>
      </div>
    </ion-toolbar>

  </ion-header>
  <ion-content class="ion-padding">
    <ion-button color="light" expand="block" routerLink="/home">Profile</ion-button>
    <ion-button color="light" expand="block" routerLink="/group">My Groups</ion-button>
    <ion-button expand="block" (click)="logout()">Logout</ion-button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Group</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div style="display: flex; justify-content: center; text-align: center; margin-top: 50px;">
      <ion-button shape="round" (click)="handleNewGroup()">New Group</ion-button>
    </div>
    <div *ngIf="addGroup" style="display: flex; justify-content: center;">
      <form [formGroup]="groupForm" style="width: 75%;">
        <ion-item>
          <ion-label position="floating">Group Name</ion-label>
          <ion-input formControlName="groupName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Add Members</ion-label>
          <ion-input formControlName="members" placeholder="Add ByUser Email"></ion-input>
          <span><ion-button (click)="addMembers()">Add</ion-button></span>
        </ion-item>
        <div *ngFor="let member of members">
          <ion-item>
            {{member.name}} | {{member.email}}
          </ion-item>
        </div>
        <ion-row>
          <ion-col>
            <ion-button type="submit" expand="block" (click)="addGroups()" [disabled]="!groupForm.valid">Create
              Group</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="medium" expand="block" (click)="onCancel()">Cancel</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </div>
    <ion-item>
      <ion-title>
        <h2 style="text-align: center;">Groups of {{user}}</h2>
      </ion-title>
    </ion-item>
    <ion-list>
      <ion-item *ngFor="let group of groups" (click)="onGroupClick(group.id)">
        {{group.groupName}}
      </ion-item>
    </ion-list>
  </ion-content>
</div>