<ion-content class="content">
  <div style="margin: 40px; margin-top: 150px;">
    <div style="padding: 10px; text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight: 900; font-size: xx-large; color: white; margin-bottom:  40px;">
      U<ion-icon name="checkmark-done-circle-outline"></ion-icon>ME 
    </div>
    <div *ngIf="">

    </div>
    <form style="padding: 10px; padding-bottom: 50px; background-color: white; border-radius: 20px;"
      [formGroup]="signUpForm">
      <h2 style="text-align: center; margin-bottom: 10px;">Sign Up</h2>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" placeholder="Enter Name" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" placeholder="Enter Email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" placeholder="Enter Password" formControlName="password"></ion-input>
      </ion-item>
      <!-- <div>
        <div *ngIf="!loggedIn" style="color: red; text-align: center;" [innerHTML]="alertHTML"></div>
        <div *ngIf="loggedIn" style="color: green; text-align: center;" [innerHTML]="alertHTML"></div>
      </div> -->

      <div style="display:flex; justify-content: center;">
        <ion-button style="margin-top:20px;" (click)="signUp()" [disabled]="!signUpForm.valid">Sign Up</ion-button>
      </div>
      <div style="text-align: center;">
        <p>Already have an account? <a href="/login">Log In</a></p>
      </div>
    </form>
  </div>

</ion-content>